<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Software Engineering Consultant</h3>
                <div class="subheading mb-3"><a href="https://www.impowerconsulting.ai/" target="_blank">Impower.ai</a></div>
                <ul>
                    <li>Impower.ai aims to create strategic partnerships with companies and leaders who share a similar vision of the Future of Work.</li>
                    <li> Together we can modernize the way problems are solved on the journey to AI.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2021 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">.Net Software Engineering Consultant</h3>
                <div class="subheading mb-3">TQL</div>
                <ul>
                    <li>Leading backend development for a Transportation Management System using ASP.NET and Azure (Storage Blobs, Service Bus) to optimize data handling and system updates.</li>
                    <li>Driving modernization by refactoring legacy code, implementing cloud-native solutions, and building regression tests.</li>
                    <li>Mentoring junior developers to boost technical skills and productivity. </li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2024 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">UiPath Software Engineering Consultant</h3>
                <div class="subheading mb-3">Johnsonville</div>
                <ul>
                    <li>Developed scalable RPA solutions to streamline complex business processes, including SAP integrations.</li>
                    <li>Delivered regular progress updates and best practice presentations to ensure team alignment.</li>
                    <li> Monitored automation health metrics to improve system reliability and performance. </li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2022 - January 2024</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">UiPath Software Engineering Consultant</h3>
                <div class="subheading mb-3">Leaf Home Solutions</div>
                <ul>
                    <li>Built automated test libraries and scripts for the ICS website, improving coverage and efficiency.</li>
                    <li>Created reusable test components, reducing maintenance by 20%.</li>
                    <li>Developed UiPath RPA automations and ensured data accuracy across multiple systems, including Genesys.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2021 - January 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">RPA Developer</h3>
                <div class="subheading mb-3">AEP</div>
                <ul>
                    <li>Created scalable RPA solutions saving businesses up to $200K and hundreds of work hours. </li>
                    <li> Built and tested automations integrating websites, APIs, and databases.  </li>
                    <li> Supported deployments and resolved production issues. </li>

                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2017 - March 2019</span></div>
        </div>
    </div>
</section>

<hr class="m-0" />


@code {

}
