<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Programming language</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>C#</td>
                    <td>Expert</td>
                    <td>ASP.NET, UiPath</td>
                </tr>
                <tr class="info">
                    <td>C++</td>
                    <td>Proficient</td>
                    <td>Game development, Unreal Engine</td>
                </tr>
                <tr class="info">
                    <td>Typescript</td>
                    <td>Proficient</td>
                    <td>Web development, Playwright</td>
                </tr>
            </tbody>
        </table>

        <div class="subheading mb-3">Frameworks & Tools</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Framework / Tools</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>.NET</td>
                    <td>Expert</td>
                    <td>Web and Game development</td>
                </tr>
                <tr class="success">
                    <td>ASP.NET Core</td>
                    <td>Proficient</td>
                    <td>A cross-platform web framework</td>
                </tr>
                <tr class="success">
                    <td>Blazor</td>
                    <td>Proficient</td>
                    <td>A open source cross-platform web framework</td>
                </tr>
            </tbody>
        </table>

        <div class="subheading mb-3">Game Development</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Game Engine / Tools</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td>Unity</td>
                    <td>Advanced</td>
                    <td>C#, Game development, Desktop, Consoles</td>
                </tr>
                <tr class="info">
                    <td>Raylib</td>
                    <td>Intermediate</td>
                    <td>C#, Game development, Desktop, Consoles</td>
                </tr>
                <tr class="info">
                    <td>Unreal</td>
                    <td>Intermediate</td>
                    <td>C++, Game development, Desktop</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

@code {

}
