@page "/"
@using Portfolio.Components

<PageTitle>Michael Harris - Portfolio</PageTitle>

<AnchorNavigation />

<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Michael Harris
        </h1>
        <div class="subheading mb-5">
            <a href="mailto:michael.harris.2015@gmail.com">michael.harris.2015@gmail.com</a>
        </div>
        <p class="lead mb-3">
            Hello, I’m a passionate software engineer from Columbus, Ohio. 
            Ever since I was a kid, when people asked me what I wanted to be, my answer was always the same: a software engineer.

            I graduated from The Ohio State University in 2019 with a Bachelor of Science in Computer and Information Science, 
            and since then I’ve been turning that childhood dream into reality. I work with a variety of technologies, including:
            - <strong>C#</strong>, <strong>C/C++</strong>,<strong>ASP.NET</strong>, <strong>UiPath</strong>. 
            - Blazor, TypeScript, Agentic AI, Unity, Unreal, Raylib.
        </p>
        <p class="lead mb-3">
            Currently I am a solutions-focused software engineering consultant passionate about leveraging technology to create, innovate, and solve complex problems every day.
            Feel free to contact me and follow me on LinkedIn!
        </p>
        <div class="social-icons row justify-content-md-left">
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
               href="https://www.linkedin.com/in/myharris22/">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" 
                href="https://github.com/mharris15">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
               href="https://www.chess.com/member/mharris22">
                <i class="fas fa-chess-knight"></i>
            </a>
        </div>
    </div>
</section>

<hr class="m-0" />

<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Software Engineering Consultant</h3>
                <div class="subheading mb-3"><a href="https://www.impowerconsulting.ai/" target="_blank">Impower.ai</a></div>
                <ul>
                    <li>Impower.ai aims to create strategic partnerships with companies and leaders who share a similar vision of the Future of Work.</li>
                    <li> Together we can modernize the way problems are solved on the journey to AI.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2021 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">.Net Software Engineering Consultant</h3>
                <div class="subheading mb-3">TQL</div>
                <ul>
                    <li>Leading backend development for a Transportation Management System using ASP.NET and Azure (Storage Blobs, Service Bus) to optimize data handling and system updates.</li>
                    <li>Driving modernization by refactoring legacy code, implementing cloud-native solutions, and building regression tests.</li>
                    <li>Mentoring junior developers to boost technical skills and productivity. </li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2024 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">UiPath Software Engineering Consultant</h3>
                <div class="subheading mb-3">Johnsonville</div>
                <ul>
                    <li>Developed scalable RPA solutions to streamline complex business processes, including SAP integrations.</li>
                    <li>Delivered regular progress updates and best practice presentations to ensure team alignment.</li>
                    <li> Monitored automation health metrics to improve system reliability and performance. </li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2022 - January 2024</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">UiPath Software Engineering Consultant</h3>
                <div class="subheading mb-3">Leaf Home Solutions</div>
                <ul>
                    <li>Built automated test libraries and scripts for the ICS website, improving coverage and efficiency.</li>
                    <li>Created reusable test components, reducing maintenance by 20%.</li>
                    <li>Developed UiPath RPA automations and ensured data accuracy across multiple systems, including Genesys.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2021 - January 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">RPA Developer</h3>
                <div class="subheading mb-3"><a href="https://www.aep.com/" target="_blank">AEP</a></div>
                <ul>
                    <li>Created scalable RPA solutions saving businesses up to $200K and hundreds of work hours. </li>
                    <li> Built and tested automations integrating websites, APIs, and databases.  </li>
                    <li> Supported deployments and resolved production issues. </li>

                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2017 - March 2019</span></div>
        </div>
    </div>
</section>

<hr class="m-0" />

<!-- Projects-->

<hr class="m-0" />

<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">The Ohio State University</h3>
                <div class="subheading mb-3">Bachelor’s degree</div>
                <div>Bachelor of Science in Computer and Information Science</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2015 - September 2019</span></div>
        </div>
    </div>
</section>

<hr class="m-0" />

<!-- Skills-->
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Programming language</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>C#</td>
                    <td>Expert</td>
                    <td>ASP.NET, UiPath</td>
                </tr>
                <tr class="info">
                    <td>C++</td>
                    <td>Proficient</td>
                    <td>Game development, Unreal Engine</td>
                </tr>
                <tr class="info">
                    <td>Typescript</td>
                    <td>Proficient</td>
                    <td>Web development, Playwright</td>
                </tr>
            </tbody>
        </table>

        <div class="subheading mb-3">Frameworks & Tools</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Framework / Tools</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>.NET</td>
                    <td>Expert</td>
                    <td>Web and Game development</td>
                </tr>
                <tr class="success">
                    <td>ASP.NET Core</td>
                    <td>Proficient</td>
                    <td>A cross-platform web framework</td>
                </tr>
                <tr class="success">
                    <td>Blazor</td>
                    <td>Proficient</td>
                    <td>A open source cross-platform web framework</td>
                </tr>
            </tbody>
        </table>

        <div class="subheading mb-3">Game Development</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Game Engine / Tools</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td>Unity</td>
                    <td>Advanced</td>
                    <td>C#, Game development, Desktop, Consoles</td>
                </tr>
                <tr class="info">
                    <td>Raylib</td>
                    <td>Intermediate</td>
                    <td>C#, Game development, Desktop, Consoles</td>
                </tr>
                <tr class="info">
                    <td>Unreal</td>
                    <td>Intermediate</td>
                    <td>C++, Game development, Desktop</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>